<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prajitdas.sprivacy"
    android:versionCode="1"
    android:versionName="1.0" >

<!-- 	<permission
        android:name="android.permission.sprivacy.READ_WRITE_CONTENT"
        android:description="@string/permdesc_read_write_content"
        android:label="@string/permlabel_read_write_content"
        android:protectionLevel="normal" /> -->
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required permission not required at or below Android 4.3 API level -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Unusual but true! -->
	
    <application
        android:name=".SPrivacyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".policymanager.activities.PolicyRuleChooserActivity"
            android:label="@string/policy_chooser_activity_name" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".policymanager.activities.DisplayAllPoliciesActivity"
            android:label="@string/title_activity_display_all_policies" >
        </activity>
        <activity
            android:name=".policymanager.activities.DisplayAllProvidersActivity"
            android:label="@string/title_activity_display_all_providers" >
        </activity>
        <activity
            android:name=".policymanager.activities.DisplayAllApplicationsActivity"
            android:label="@string/title_activity_display_all_applications" >
        </activity>
        <activity
            android:name=".policymanager.activities.DBOpsActivity"
            android:label="@string/title_activity_dbops" >
        </activity>
        <provider
            android:name=".contentprovider.SContentProvider"
            android:authorities="com.prajitdas.sprivacy.contentprovider.Content"
            android:exported="true"
            android:label="@string/sprivacy_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <!-- Fake content providers -->
        <provider
            android:name=".contentprovider.util.fakecontentproviders.CallLogs"
            android:authorities="com.prajitdas.sprivacy.fakecontentprovider.Content.fakecalls"
            android:exported="true"
            android:label="@string/sprivacy_fake_calllogs_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.fakecontentproviders.Contacts"
            android:authorities="com.prajitdas.sprivacy.fakecontentprovider.Content.fakecontacts"
            android:exported="true"
            android:label="@string/sprivacy_fake_contact_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.fakecontentproviders.Images"
            android:authorities="com.prajitdas.sprivacy.fakecontentprovider.Content.fakeimages"
            android:exported="true"
            android:label="@string/sprivacy_fake_image_content_provider_label">
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > --> 
        </provider>
        <provider
            android:name=".contentprovider.util.fakecontentproviders.Videos"
            android:authorities="com.prajitdas.sprivacy.fakecontentprovider.Content.fakevideos"
            android:exported="true"
            android:label="@string/sprivacy_fake_video_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.fakecontentproviders.Audios"
            android:authorities="com.prajitdas.sprivacy.fakecontentprovider.Content.fakeaudios"
            android:exported="true"
            android:label="@string/sprivacy_fake_audio_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.fakecontentproviders.Files"
            android:authorities="com.prajitdas.sprivacy.fakecontentprovider.Content.fakefiles"
            android:exported="true"
            android:label="@string/sprivacy_fake_file_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        
        <!-- Anonymized content providers -->
        <provider
            android:name=".contentprovider.util.anonymizedcontentproviders.CallLogs"
            android:authorities="com.prajitdas.sprivacy.anonymizedcontentprovider.Content.anonymizedcalls"
            android:exported="true"
            android:label="@string/sprivacy_fake_calllogs_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.anonymizedcontentproviders.Contacts"
            android:authorities="com.prajitdas.sprivacy.anonymizedcontentprovider.Content.anonymizedcontacts"
            android:exported="true"
            android:label="@string/sprivacy_anonymized_contact_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.anonymizedcontentproviders.Images"
            android:authorities="com.prajitdas.sprivacy.anonymizedcontentprovider.Content.anonymizedimages"
            android:exported="true"
            android:label="@string/sprivacy_anonymized_image_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.anonymizedcontentproviders.Videos"
            android:authorities="com.prajitdas.sprivacy.anonymizedcontentprovider.Content.anonymizedvideos"
            android:exported="true"
            android:label="@string/sprivacy_anonymized_video_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.anonymizedcontentproviders.Audios"
            android:authorities="com.prajitdas.sprivacy.anonymizedcontentprovider.Content.anonymizedaudios"
            android:exported="true"
            android:label="@string/sprivacy_anonymized_audio_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
        <provider
            android:name=".contentprovider.util.anonymizedcontentproviders.Files"
            android:authorities="com.prajitdas.sprivacy.anonymizedcontentprovider.Content.anonymizedfiles"
            android:exported="true"
            android:label="@string/sprivacy_anonymized_file_content_provider_label" >
            <!-- android:permission="android.permission.sprivacy.READ_WRITE_CONTENT" > -->
        </provider>
<!-- 		<receiver android:name=".contentprovider.util.MediaScannerBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_SCANNER_FINISHED"></action>
				<action android:name="android.intent.action.MEDIA_SCANNER_STARTED"></action>
				<data android:scheme="file"></data>	
			</intent-filter>
		</receiver>
 -->	</application>

</manifest>